html {
	height: 100%;
}

body {
  display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#block {
	background: linear-gradient(to top, #622583, #2d2e81, #242025);
	/* position: fixed; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div:nth-child(1){
	position: fixed;
	top: 80vh;
	left: 20vw;
}
div:nth-child(2){
	position: fixed;
	top: 76vh;
	left: 50vw;
}
div:nth-child(3){
	position: fixed;
	top: 50vh;
	left: 26vw;
}
div:nth-child(4){
	position: fixed;
	top: 66vh;
	left: 78vw;
}
div:nth-child(5){
	position: fixed;
	top: 90vh;
	left: 88vw;
}
div:nth-child(6){
	position: fixed;
	top: 95vh;
	left: 65vw;
}
div:nth-child(7){
	position: fixed;
	top: 67vh;
	left: 15vw;
}
div:nth-child(8){
	position: fixed;
	top: 88vh;
	left: 8vw;
}
div:nth-child(9){
	position: fixed;
	top: 92vh;
	left: 50vw;
}
div:nth-child(10){
	position: fixed;
	top: 65vh;
	left: 50vw;
}
div:nth-child(11){
	position: fixed;
	top: 78vh;
	left: 85vw;
}
div:nth-child(12){
	position: fixed;
	top: 58vh;
	left: 87vw;
}
div:nth-child(13){
	position: fixed;
	top: 40vh;
	left: 7vw;
}
div:nth-child(14){
	position: fixed;
	top: 54vh;
	left: 9vw;
}
div:nth-child(15){
	position: fixed;
	top: 53vh;
	left: 96vw;
}
div:nth-child(16){
	position: fixed;
	top: 30vh;
	left: 14vw;
}
div:nth-child(17){
	position: fixed;
	top: 45vh;
	left: 85vw;
}
div:nth-child(18){
	position: fixed;
	top: 10vh;
	left: 6vw;
}
div:nth-child(19){
	position: fixed;
	top: 30vh;
	left: 80vw;
}
div:nth-child(20){
	position: fixed;
	top: 20vh;
	left: 38vw;
}
div:nth-child(21){
	position: fixed;
	top: 19vh;
	left: 88vw;
}
div:nth-child(22){
	position: fixed;
	top: 70vh;
	left: 200vw;
}
div:nth-child(23){
	position: fixed;
	top: 5vh;
	left: 17vw;
}
div:nth-child(24){
	position: fixed;
	top: 70vh;
	left: 100vw;
}
div:nth-child(25){
	position: fixed;
	top: 4vh;
	left: 77vw;
}
.rave {
position: absolute;
z-index: 99;
width: 50
}

/* анимация с бонсом */
.greenman {
	position: absolute;
	z-index: 100;
	position: absolute;
	/* top: 15vh;
	left: 9vw;
	width: 25vw; */
	animation: bounce 5s ease infinite;
}

.antony {
  position: absolute;
	z-index: 100;
	width: 28vw;
	/* top: 50vh;
	left: 5vw; */
	animation: bounce 7s ease infinite;
}

.purpleman {
	z-index: 100;
	position:absolute;
	/* top: 20vh;
	left: 60vw;
	width: 40vw; */
	animation: bounce 4s ease infinite;
}

.blaster {
	z-index: 100;
	position: absolute;
	/* top: 10vh;
	left: 50vw;
	width: 35vw; */
	animation: bounce 3s ease infinite;
}

/* передвижение */
.rocket {
	z-index: 98;
	position: absolute;
	width: 30vw;
	top: 5vh;
	left: -7vw;
}

.black {
	z-index: 100;
	position: absolute;
	width: 30vw;
	/* top: 100vh;
	left: 40vw; */
	animation: bounce 4s ease infinite;
}

.marine {
	z-index: 100;
	position: absolute;
	/* top: 65vh;
	left: 75vw; */
	width: 23vw;
	animation: bounce 6s ease infinite;
}

.container {
	align-content: space-between;
	display: flex;
	flex-wrap: wrap;
}
.container div {
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background: white;
	animation: change-opacity 1s ease infinite;
	animation-delay: 0.1s;
}
body .container div:nth-of-type(odd) {
  width: 3px;
	height: 3px;
	border-radius: 100%;
	animation: change-opacity-2 1s ease infinite;
}

.ufo {
	width: 25vw;
	position: absolute;
	top: 120vh;
	left: 16vw;
	z-index: 96;
	animation: swing 5s ease infinite;
}

@keyframes change-opacity {
	0% {
		opacity: 0%;
	}
	50% {
	opacity: 50%;
  }
	100% {
		opacity: 100%;
	}
}
@keyframes change-opacity-2 {
	0% {
		opacity: 100%;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 0%;
	}
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@media (min-width: 320px) {
  .rave {
		width: 150%;
		left: -20vw;
		top: 7vh;
	}
	.black {
		top: 110vh;
		left: 24vw;
		width: 50vw;
	}
	.marine {
		width: 40vw;
		left: 60vw;
		top: 65vh;
  }
	.antony {
		width: 40vw;
		top: 55vh;
	}
	.purpleman {
		width: 60vw;
		left: 47vw;
		top: 25vh;
	}
	.blaster {
		width: 45vw;
		left: 39vw;
		top: 10vh;
	}
	.greenman {
		width: 40vw;
		left: 5vw;
		top: 10vh;
	}
 
