html {
	height: 100%;
}

body {
  display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow-x: hidden;
}

#block {
	background: linear-gradient(to top, #622583, #2d2e81, #242025);
	/* position: fixed; */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div:nth-child(1){
	position: fixed;
	top: 80vh;
	left: 90vw;
}
div:nth-child(2){
	position: fixed;
	top: 80vh;
	left: 80vw;
}
div:nth-child(3){
	position: fixed;
	top: 99vh;
	left: 123vw;
}
div:nth-child(4){
	position: fixed;
	top: 66vh;
	left: 78vw;
}
div:nth-child(5){
	position: fixed;
	top: 90vh;
	left: 88vw;
}
div:nth-child(6){
	position: fixed;
	top: 95vh;
	left: 65vw;
}
div:nth-child(7){
	position: fixed;
	top: 128vh;
	left: 31vw;
}
div:nth-child(8){
	position: fixed;
	top: 88vh;
	left: 8vw;
}
div:nth-child(9){
	position: fixed;
	top: 113vh;
	left: 9vw;
}
div:nth-child(10){
	position: fixed;
	top: 40vh;
	left: 117vw;
}
div:nth-child(11){
	position: fixed;
	top: 78vh;
	left: 85vw;
}
div:nth-child(12){
	position: fixed;
	top: 130vh;
	left: 106vw;
}
div:nth-child(13){
	position: fixed;
	top: 72vh;
	left: 120vw;
}
div:nth-child(14){
	position: fixed;
	top: 54vh;
	left: 9vw;
}
div:nth-child(15){
	position: fixed;
	top: 53vh;
	left: 96vw;
}
div:nth-child(16){
	position: fixed;
	top: 30vh;
	left: 14vw;
}
div:nth-child(17){
	position: fixed;
	top: 45vh;
	left: 85vw;
}
div:nth-child(18){
	position: fixed;
	top: 10vh;
	left: 6vw;
}
div:nth-child(19){
	position: fixed;
	top: 30vh;
	left: 80vw;
}
div:nth-child(20){
	position: fixed;
	top: 20vh;
	left: 38vw;
}
div:nth-child(21){
	position: fixed;
	top: 19vh;
	left: 88vw;
}
div:nth-child(22){
	position: fixed;
	top: 70vh;
	left: 200vw;
}
div:nth-child(23){
	position: fixed;
	top: 5vh;
	left: 17vw;
}
div:nth-child(24){
	position: fixed;
	top: 70vh;
	left: 100vw;
}
div:nth-child(25){
	position: fixed;
	top: 4vh;
	left: 77vw;
}
.rave {
position: absolute;
z-index: 99;
width: 50
}

/* анимация с бонсом */
.greenman {
	position: absolute;
	z-index: 100;
	position: absolute;
	animation: bounce 5s ease infinite;
}

.antony {
  position: absolute;
	z-index: 100;
	width: 28vw;
	animation: bounce 7s ease infinite;
}

.purpleman {
	z-index: 100;
	position:absolute;
	animation: bounce 4s ease infinite;
}

.blaster {
	z-index: 100;
	position: absolute;
	animation: bounce 3s ease infinite;
}

.rocket {
	z-index: 98;
	position: absolute;
	width: 30vw;
	top: 5vh;
	left: -7vw;
}

.black {
	z-index: 100;
	position: absolute;
	width: 30vw;
	animation: bounce 4s ease infinite;
}

.marine {
	z-index: 100;
	position: absolute;
	width: 23vw;
	animation: bounce 6s ease infinite;
}

.container {
	align-content: space-between;
	display: flex;
	flex-wrap: wrap;
}
.container div {
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background: white;
	animation: change-opacity 1s ease infinite;
	animation-delay: 0.1s;
}
body .container div:nth-of-type(odd) {
  width: 5px;
	height: 5px;
	border-radius: 100%;
	animation: change-opacity-2 1s ease infinite;
}

.ufo {
	width: 25vw;
	position: absolute;
	top: 120vh;
	left: 16vw;
	z-index: 96;
	animation: swing 5s ease infinite;
}

@keyframes change-opacity {
	0% {
		opacity: 0%;
	}
	50% {
	opacity: 50%;
  }
	100% {
		opacity: 100%;
	}
}
@keyframes change-opacity-2 {
	0% {
		opacity: 100%;
	}
	50% {
		opacity: 50%;
	}
	100% {
		opacity: 0%;
	}
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@media (min-width: 320px) {
  .rave {
		width: 150%;
		left: -11vw;
		top: 12vh;
	}
	.black {
		top: 96vh;
		left: 37vw;
		width: 50vw;
	}
	.marine {
		width: 34vw;
		left: 80vw;
		top: 61vh;
  }
	.antony {
		width: 42vw;
		top: 46vh;
		left: 9vw;
	}
	.purpleman {
		width: 60vw;
		left: 66vw;
		top: 22vh;
	}
	.blaster {
		width: 45vw;
		left: 56vw;
		top: 10vh;
	}
	.greenman {
		width: 40vw;
		left: 12vw;
		top: 14vh;
	}

	@media (min-height: 812px) {
	.rave {
    width: 436%;
    left: -80vw;
    top: 2vh;
}
	.greenman {
  width: 117vw;
  left: 12vw;
  top: 14vh;
}
.purpleman {
	width: 176vw;
	left: 111vw;
	top: 51vh;
}
 .blaster {
	width: 126vw;
	left: 107vw;
	top: 10vh;
}
.rocket {
	z-index: 98;
	position: absolute;
	width: 111vw;
	top: 252vh;
	left: -52vw;
}
.antony {
	width: 117vw;
	top: 110vh;
	left: 17vw;
}
.marine {
	width: 87vw;
	left: 170vw;
	top: 162vh;
}
.black {
	top: 226vh;
	left: 49vw;
	width: 139vw;
}
.ufo {
	 width: 80vw;
	 position: absolute;
	 top: -8vh;
	 left: 204vw;
	 z-index: 96;
	 animation: swing 5s ease infinite;
}
div:nth-child(1) {
	position: fixed;
	top: 282vh;
	left: 262vw;
}
div:nth-child(5) {
    position: fixed;
    top: 285vh;
    left: 88vw;
}
div:nth-child(2) {
	 position: fixed;
	 top: 209vh;
	 left: 255vw;
}
div:nth-child(3) {
	 position: fixed;
	 top: 204vh;
	 left: 123vw;
}
div:nth-child(4) {
	 position: fixed;
	 top: 174vh;
	 left: 18vw;
}
div:nth-child(6) {
	 position: fixed;
	 top: 95vh;
	 left: 275vw;
}
div:nth-child(16) {
    position: fixed;
    top: 234vh;
    left: 11vw;
}
div:nth-child(18) {
	 position: fixed;
	 top: 22vh;
	 left: 274vw;
}
div:nth-child(19) {
	 position: fixed;
	 top: 152vh;
	 left: 260vw;
}
div:nth-child(23) {
    position: fixed;
    top: 293vh;
    left: 17vw;
}
div:nth-child(25) {
	 position: fixed;
	 top: 143vh;
	 left: 137vw;
}
	}
	@media (min-width: 768px) {
		.ufo {
	    width: 35vw;
	    position: absolute;
	    top: 200vh;
	    left: 3vw;
	    z-index: 96;
	    animation: swing 5s ease infinite;
	}
.black {
    top: 182vh;
    left: 78vw;
    width: 50vw;
}
.marine {
    width: 34vw;
    left: 34vw;
    top: 149vh;
}
.antony {
    width: 42vw;
    top: 64vh;
    left: 13vw;
}
.purpleman {
    width: 60vw;
    left: 73vw;
    top: 68vh;
}
.blaster {
    width: 45vw;
    left: 65vw;
    top: 47vh;
}
.greenman {
    width: 40vw;
    left: 40vw;
    top: 10vh;
}
.greenman {
    width: 40vw;
    left: 40vw;
    top: 10vh;
}
	}

	@media (min-width: 1024px) {
		.ufo {
    width: 39vw;
    position: absolute;
    top: 297vh;
    left: 4vw;
    z-index: 96;
    animation: swing 5s ease infinite;
  }
	.black {
    top: 245vh;
    left: 9vw;
    width: 48vw;
  }
	.marine {
    width: 37vw;
    left: 70vw;
    top: 222vh;
  }
	.antony {
		width: 55vw;
    top: 230vh;
    left: 97vw;
	}
	.purpleman {
    width: 126vw;
    left: 161vw;
    top: 98vh;
  }
	.blaster {
    width: 56vw;
    left: 47vw;
    top: 60vh;
  }
	.greenman {
		width: 84vw;
	  left: 21vw;
	  top: 24vh;
	}
	.rocket {
    z-index: 98;
    position: absolute;
    width: 66vw;
    top: -18vh;
    left: -31vw;
  }
}

	@media (min-width: 425px, min-height: 717px) {
		.rave {
    width: 180vw;
    left: -42vw;
    top: 19vh;
}
.greenman {
    width: 47vw;
    left: 6vw;
    top: 7vh;
}
.purpleman {
    width: 68vw;
    left: 35vw;
    top: 44vh;
}
.blaster {
    width: 52vw;
    left: 25vw;
    top: 29vh;
}
.rocket {
    z-index: 98;
    position: absolute;
    width: 67vw;
    top: -8vh;
    left: 30vw;
}
.antony {
    width: 43vw;
    top: 77vh;
    left: 3vw;
}
.marine {
    width: 34vw;
    left: 59vw;
    top: 112vh;
}
.black {
    top: 153vh;
    left: 16vw;
    width: 51vw;
}
.ufo {
    width: 41vw;
    position: absolute;
    top: 163vh;
    left: 62vw;
    z-index: 96;
    animation: swing 5s ease infinite;
}
	}
	@media (min-width: 320px, min-heigth: 717px) {
		.marine {
	    width: 34vw;
	    left: 59vw;
	    top: 110vh;
	}
	.black {
   top: 134vh;
   left: 7vw;
   width: 51vw;
  }
}

1
